*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600&family=Work+Sans:wght@400;600;700;800&display=swap');
/* Google font  */
:root{
    --primary-color: #562EFF;;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.section-bg{
    background-color: #ffffff;
}
h3{
    font-weight: 500;
}
.section-title{
    margin: 0 0 30px 3px;
    color: var(--primary-color);
}
.article-title{
    font-size: 20px;
}
body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
}
/* ---------------- Basic Css ends---------------- */
/* ----------------Header section starts---------------- */
.header{
    background-color: var(--primary-color);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    background-color: var(--primary-color);
}
nav .right-side{
    display: flex;
    gap: 15px;
    align-items: center;
}
.right-side .logo img{
    width: 50px;
    height: 50px;
}
nav .left-side ul{
    display: flex;
    gap: 35px;
    align-items: center;
}
/* ----------------Header section ends---------------- */
/* ----------------Top player section starts---------------- */
.top, .latest{
    
    margin: 40px 30px;
    padding: 35px 30px;
    border-radius: 5px;
}
.top-players .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    gap: 15px;
    align-items: center;
}
.player .img{
    width: 20%;
}
.player h3{
    font-size: 18px;
}
.player img{
    width: 100%;
}
hr{
    margin: 30px 0;
}
/* ----------------Top player section ends---------------- */
/* ----------------Top blogs section starts---------------- */
.top-blogs .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
}
.blog{
    display: flex;
    gap: 15px;
}
.blog img{
    width: 100%;
}
.description small{
    font-size: 16px;
    color: #9F9F9F;
    padding-top: 5px;
}
.blog .article-title a{
    color: var(--primary-color);
}
/* ----------------Top blogs section ends---------------- */
/* ----------------Latest course section starts---------------- */
.courses {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-evenly;
}
.course{
    padding: 10px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}
.course img{
    width: 100%;
}
.course .article-title{
    padding-top: 15px;
    width: 70%;
}
.course .author{
    font-size: 15px;
    color:  #FF4A60;
    padding: 20px 0 10px 0;
}
.course .rating{
    font-size: 15px;
    color:  #A2A2A2;
    display: flex;
    justify-content: space-between;
}
.course .fa-star{
    color: #FFC014;;
}

.course .other{
    color: #AEAEAE;
    opacity: 0.25;
}
.course .time p{
    color: #FF4A60;
    font-weight: 600;
    background-color: #FEE5DF;
    padding: 5px;
    border-radius: 25px;
}
/* ----------------Latest course section ends---------------- */
/* ----------------media query section starts---------------- */
@media only screen and (max-width: 767px) {
    /* top-player section starts  */
    .section-title{
        text-align: center;
    }
    .top-players .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .player, .blog, .latest .courses{
        flex-direction: column;
        row-gap: 10px;
    }
    /* top-player section ends  */
    /* top-blogs section starts  */
    .top-blogs .container{
        grid-template-columns: repeat(1, 1fr);
    }
    /* top-blogs section ends */
    /* Latest section starts */
    .course .article-title{
        width: 100%;
    }
    /* Latest section ends */
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .section-title{
        text-align: center;
    }
    .top-players .container{
        grid-template-columns: repeat(3, 1fr);
    }
    .blog .description{
        font-size: 5em;
    }
    .player, .blog, .latest .courses{
        flex-direction: column;
        row-gap: 10px;
    }
    /* top-player section ends  */
    /* top-blogs section starts  */
    .top-blogs .container{
        grid-template-columns: repeat(1, 1fr);
    }
    /* top-blogs section ends */
    /* Latest section starts */
    .article-title{
        font-size: 50px;
        width: 100%;
    }
    .course .article-title{
        width: 100%;
    }
    .description small{
        font-size: 25px;
    }
    /* Latest section ends */
}
@media only screen and (min-width: 1024px) {
    
}
/* ----------------media query section ends---------------- */